.video.hidden#1
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/192687722", :webkitallowfullscreen => "", :width => "1120"}
.video.hidden#2
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/168624560", :webkitallowfullscreen => "", :width => "1120"}
.video.hidden#3
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/192687722", :webkitallowfullscreen => "", :width => "1120"}
.video.hidden#4
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/168624560", :webkitallowfullscreen => "", :width => "1120"}
.video.hidden#5
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/192687722", :webkitallowfullscreen => "", :width => "1120"}
.video.hidden#6
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/168624560", :webkitallowfullscreen => "", :width => "1120"}
.video.hidden#7
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/192687722", :webkitallowfullscreen => "", :width => "1120"}
.video.hidden#8
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "630", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/168624560", :webkitallowfullscreen => "", :width => "1120"}
