.modal-container.video_modal
  .overlay
  .modal.video
    %iframe{allowfullscreen: "", frameborder: "0", height: "360", mozallowfullscreen:"", src: "#{url}" , webkitallowfullscreen:"", width: "640"}
