#recent_work
  %h1 Our Recent Work
  .video-container
    .row
      .thumb-nail{data: {id: 1}}= image_tag "video_1.png"
      .thumb-nail{data: {id: 2}}= image_tag "video_2.png"
      .thumb-nail{data: {id: 3}}= image_tag "video_3.png"
      .thumb-nail{data: {id: 4}}= image_tag "video_4.png"
    .row
      .thumb-nail{data: {id: 5}}= image_tag "video_5.png"
      .thumb-nail{data: {id: 6}}= image_tag "video_6.png"
      .thumb-nail{data: {id: 7}}= image_tag "video_7.png"
      .thumb-nail{data: {id: 8}}= image_tag "video_8.png"
#clients
  %h1 Our Clients
  .container
    #carousel_container
      #left_scroll= image_tag 'left_arrow.png'
      #carousel_inner
        %ul#carousel_ul
          %li.big=link_to(image_tag('http://i.imgur.com/nL8c2wC.png', id: 'digi_pro'), root_path)
          %li.big#hashrocket=link_to(image_tag('http://i.imgur.com/wVxj5g7.png', id: 'hashrocket'), root_path)
          %li.small=link_to(image_tag('http://i.imgur.com/tdgErIM.png', id: 'revitalists' ), root_path)
          %li.big#street_sound=link_to(image_tag('http://i.imgur.com/nVIQWQK.png'), root_path)
          %li.small#jake_peavy=link_to(image_tag('http://i.imgur.com/PWiDMmT.png'), root_path)

      #right_scroll= image_tag 'right_arrow.png'
