.clients

  %h1 Our Clients

  #carousel_container
    #left_scroll
      %img{:src => "left.png"}/
    #carousel_inner
      %ul#carousel_ul
        %li
          %a{:href => "#"}
            %img{:src => "item1.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "item2.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "item3.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "item4.png"}/
        %li
          %a{:href => "#"}
            %img{:src => "item5.png"}/
    #right_scroll
      %img{:src => "right.png"}/
