#clients

  %h1 Our Clients

  .container
    #carousel_container
      #left_scroll= image_tag 'left_arrow.png'
      #carousel_inner
        %ul#carousel_ul
          %li
            %a{:href => "#"}
              %img{:src => "https://pbs.twimg.com/profile_images/655066410087940096/QSUlrrlm.png"}/
          %li
            %a{:href => "#"}
              %img{:src => "https://pbs.twimg.com/profile_images/655066410087940096/QSUlrrlm.png"}/
          %li
            %a{:href => "#"}
              %img{:src => "https://pbs.twimg.com/profile_images/655066410087940096/QSUlrrlm.png"}/
          %li
            %a{:href => "#"}
              %img{:src => "https://pbs.twimg.com/profile_images/655066410087940096/QSUlrrlm.png"}/
          %li
            %a{:href => "#"}
              %img{:src => "https://pbs.twimg.com/profile_images/655066410087940096/QSUlrrlm.png"}/
      #right_scroll= image_tag 'right_arrow.png'
