#recent_work
  %h1 Our Recent Work
  .video-container
    .row
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/192687722")}}= image_tag "video_1.png"
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/168624560")}}= image_tag "video_2.png"
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/181320359")}}= image_tag "video_3.png"
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/183110074")}}= image_tag "video_4.png"
    .row
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/181314070")}}= image_tag "video_5.png"
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/181314069")}}= image_tag "video_6.png"
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/181314581")}}= image_tag "video_7.png"
      .thumb-nail{data: {video_url: video_modal_path(url: "http://player.vimeo.com/video/137507357")}}= image_tag "video_8.png"
#clients
  %h1 Our Clients
  .container
    #carousel_container
      #left_scroll= image_tag 'left_arrow.png'
      #carousel_inner
        %ul#carousel_ul
          %li
            =link_to(image_tag('jake_peavy.png'), root_path)
          %li
            =link_to(image_tag('hashrocket.jpg'), root_path)
          %li
            =link_to(image_tag('street_sound.png'), root_path)
          %li
            =link_to(image_tag('facebook.png'), root_path)
          %li
            =link_to(image_tag('facebook.png'), root_path)
      #right_scroll= image_tag 'right_arrow.png'
