/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import "bourbon";
  @import "base/base";
  @import "slick";
  @import "slick-theme";
 *= require_tree .
 *= require_self
 */

.hidden{
  display: none;
}

html{
  overflow: scroll;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

#main{
  $default-font: arial;
  $default-font-size: 18px;
  $default-color: #297A8C;
  $background-color: #fff;
  $social-media-color: #C0C0C0;
  $social-media-hover: #288D8f;
  $glyphicon-color: #249880;
  $soft-gray-text: #737373;
  $link-color: #517a9e;
  $danger-color: #FA3434;
  $warning-color: #FF9308;
  @media only screen and (max-device-width: 768px) {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    cursor: pointer;
    #home-page{
      position: relative;
      top: -20.8em;
    }
  }

  font-family: "PT Sans", sans-serfif;
  margin: 0;

  .main-content{
    margin-top: 90px;
  }

  .delete{
    background-color: $danger-color;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border-radius:  4px;
  }

  .edit{
    background-color: $warning-color;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border-radius:  4px;
  }

  .body-wrapper{
    min-height: 450px;
  }

  .video{
    margin: 4em 0;
    iframe{
      width: 96vw;
      height: 54vw;
    }
  }

  .right{
    float: right;
  }

  .left{
    float: left;
  }

  .misc-header{
    text-transform: uppercase;
    color: $default-color;
  }

  .form{
    margin-top: 5em;

    .preview{
      padding: 0 1vw;
      font-size: 1.2vw;
      height: 2vw;
      border-radius: .5em;
      color: $warning-color;
      border: 1px solid $warning-color;
      background: #fff;
      font-weight: bold;
      &:hover{
        cursor: pointer;
        color: darken($warning-color, 5%);
        border: 1px solid darken($warning-color, 5%);
      }
    }

    text-align: left;

    .field-left{
      float: left;
    }

    fieldset{
      border: none;
    }

    dd{
      margin: 1em 0;
    }

    label{
      font-size: 1.5vw;
    }

    input[type=text], input[type=password]{
      padding: 0.3vw;
      width: 40%;
      height: 2vw;
      font-size: 1.5vw;
      border-radius: 4px;
    }

    select{
      margin: 0;
      padding: 0.5vw;
      width: 20%;
      height: 3vw;
      font-size: 1.2vw;
    }

    input[type=submit]{
      padding: 0 1vw;
      font-size: 1.2vw;
      height: 2vw;
      border-radius: .5em;
      color: #28AADC;
      border: 1px solid #28AADC;
      background: #fff;
      font-weight: bold;
      &:hover{
        cursor: pointer;
        color: darken(#28AADC, 20%);
        border: 1px solid darken(#28AADC, 20%);
      }
    }
  }

  .admin-links{
    margin-top: 10vw;
    text-align: center;
    a{
      margin-right: 4vw;
      color: $link-color;
      text-decoration: none;
      font-size: 20px;
      &:hover{
        text-decoration: underline;
        color: darken($link-color, 5%);
      }
    }
  }

  .mobile-link{
    display: none;
  }

  @media only screen and (max-device-width: 768px) {
    .mobile-link{
      position: relative;
      width: 29em;
      top: -58em;
      left: 22em;
      display: block;
      margin: 0;

      .text{
        position: relative;
        left: -1.7em;
        font-size: 50px;
        color: #fff;
        text-align: center;
      }

      button{
        padding: 1em;
        background: none;
        border: none;
        font-size: 2.5em;
        background-color: rgba(201, 201, 201, .3);
        a{
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .video-container{
    @media only screen and (min-device-width: 769px){
      .video-click{
        padding: 0;
        margin: 0;
        list-style: none;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        justify-content: center;
      }

      .thumb-nail{
        width: 25%;
        height: 13.8vw;

        .text{
          margin: 0;
          font-size: 1.3vw;
          width: 80%;
          margin: 0;
          color: #fff;
          position: relative;
          top: -120px;
          left: 19px;
        }

        .fa{
          position: relative;
          top: -9.7vw;
          left: 11vw;
          font-size: 4.0em;
          padding: 0;
          margin: 0;
          color: #fff;
          opacity: 0;
        }

        img{
          width: 100%;
        }

        &:hover{
          cursor: pointer;
          img{
            filter: brightness(60%);
          }
          .fa{
            opacity: 1;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }

    @media only screen and (min-width: 769px) and (max-device-width: 1300px){
      .thumb-nail{
        margin: 0;
        padding: 0;
        width: 50%;
        height: 27.32vw;
        .text{
          margin-right: 0;
          color: #fff;
          font-size: 2.0em;
          position: relative;
          top: -2.2em;
          left: 0.5em;
          margin: 0;
          padding: 0;
        }
        img{
          width: 100%;
        }
      }
    }

    @media only screen and (max-device-width: 768px) {
      .thumb-nail{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 34.38em;

        .fa{
          display: none;
        }
        .text{
          color: #fff;
          width: 60%;
          font-size: 3.0em;
          position: relative;
          top: -1.9em;
          left: 0.5em;
          display: inline;
        }
        img{
          width: 100%;
        }
      }
    }
  }

  .nav-styles{
    width: 100%;
    height: 51vw;
    background-size: 100% 51vw;
    background-repeat: no-repeat;
  }

  .background-image-1{
    background-image:  url('main_header_1.JPG');
    z-index: -3;
  }
  .background-image-2{
    background-image:  url('main_header_2.JPG');
    z-index: -3;
  }
  .background-image-3{
    background-image:  url('main_header_3.JPG');
    z-index: -3;
  }
  .background-image-4{
    background-image:  url('main_header_4.JPG');
    z-index: -3;
  }
  .background-image-5{
    background-image:  url('main_header_5.JPG');
    z-index: -3;
  }
  .background-image-6{
    background-image:  url('main_header_6.JPG');
    z-index: -3;
  }
  .background-image-7{
    background-image:  url('main_header_7.JPG');
    z-index: -3;
  }
  .background-image-8{
    background-image:  url('main_header_8.JPG');
    z-index: -3;
  }
  .photos{
    background:rgba(21,21,21,.8);

    img{
      display: none;
      width: 100%;
      max-height: 600px;
    }

    > img:first-of-type{
      display: block;
    }

  }

  .admin-view{
    li{
      display: inline-block;
    }
  }
}

#edit-thumbnails{
  margin-top: 5em;
}
