/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  // @import url(//db.onlinewebfonts.com/c/9d0967bfe19937b123d26cde0ba6a217?family=Norwester);
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import "bourbon";
  @import "base/base";
 */

#main{
  $default-font: arial;
  $default-font-size: 18px;
  $default-color: #297A8C;
  $background-color: #fff;
  $social-media-color: #C0C0C0;
  $social-media-hover: #288D8f;
  $glyphicon-color: #249880;
  $soft-gray-text: #737373;

  @font-face {
    font-family: "Norwester";
    src: url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.eot");
    src: url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/9d0967bfe19937b123d26cde0ba6a217.svg#Norwester") format("svg");
  }

  font-family: "PT Sans", sans-serfif;
  margin: 0;

  .video{
    margin: 4em 0;
    iframe{
      width: 80vw;
      height: 45vw;
    }
  }

  .right{
    float: right;
  }

  .left{
    float: left;
  }

  .form{
    text-align: left;

    fieldset{
      border: none;
    }

    dd{
      margin: 1em 0;
    }

    input[type=text], input[type=password]{
      padding: 10px;
      width: 50%;
      height: 2em;
      font-size: 18px;
      border-radius: 4px;
    }

    textarea{
      line-height: 150%;
      padding: 10px;
      font-size: 18px;
      width: 50%;
      height: 15em;
      border-radius: 4px;
    }

    input[type=submit]{
      padding: 0 10px;
      font-size: 18px;
      height: 2em;
      border-radius: 18px;
      color: #28AADC;
      border: 1px solid #28AADC;
      background: #fff;
      font-weight: bold;
      &:hover{
        color: darken(#28AADC, 20%);
        border: 1px solid darken(#28AADC, 20%);
      }
    }
  }

  .fa-bars{
    font-size: 30px;
  }

  #special-nav{
    width: 100%;
    height: 51vw;
    background-image:  url('main_header.JPG');
    background-size: 100% 51vw;
    background-repeat: no-repeat;
  }

  #normal-nav{
    background-color: lighten(#DFDFDF, 10%);
    padding: 1em;
  }

  .nav-container{
    header.navigation {
      $base-border-color: gainsboro !default;
      $base-border-radius: 3px !default;
      $action-color: #477DCA !default;
      $large-screen: 53.75em !default;
      $font-color: #fff;
      $navigation-padding: 1em;
      $navigation-color: transparentize(white, 0.3);
      $navigation-color-hover: white;
      $navigation-height: 48px;
      $image-size: 5em;

      min-height: $navigation-height;
      width: 60%;
      z-index: 999;
      margin-left: auto;
      margin-right: auto;

      .left-navigation-wrapper, .right-navigation-wrapper{
        font-size: 14px;
        font-family: $default-font;
        font-weight: bold;
        position: relative;
        z-index: 9999;
      }

      .logo-text{
        color: $default-color;
        font-family: Norwester !important;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
      }

      .right-navigation-wrapper {
        float: right;
        width: 60%;
      }

      .left-navigation-wrapper {
        // width: 100%;
        float: left;
      }

      .logo {
        float: left;
        height: $navigation-height;
        max-height: $navigation-height;

        img {
          width: $image-size;
          height: $image-size;
          max-height: $image-size;
        }

        .logo-text{
          position: relative;
          top: 5px;
          color: #000;
        }

        p{
          float: right;
          padding-left: 5px;
        }
      }

      .menu-button{
        float: right;
        &:hover{
          cursor: pointer;
        }
      }

      .menu-button {
        display: inline-block;
        padding: .5vw;
      }

      .navigation-menu-button {
        color: $default-color;
        display: block;
        line-height: $navigation-height;
        margin: 0;
        padding-right: 1vw;
        text-decoration: none;
        text-transform: uppercase;

        &:focus, &:hover {
          cursor: pointer;
          color: darken($default-color, 10%);
        }
      }

      .hidden{
        display: none;
      }
    }
  }

  #recent_work{
    color: $default-color;
    width: 100%;
    margin: 0;
    h1{
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
    }
    .top-row, .bottom-row{
      margin: 0;
    }
    .video-container{

      .thumb-nail{
        display: table-cell;

        img{
          width: 100%;
        }

        &:hover{
          cursor: pointer;
        }

      }
    }
  }

  .modal-container{
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.5;
      filter: alpha(opacity=50);
    }

    .modal {
      position:absolute;
      background:url(tint20.png) 0 0 repeat;
      background:rgba(0,0,0,0.2);
      border-radius:14px;
      padding:8px;
    }

    .content {
      border-radius:8px;
      background:#fff;
      padding:20px;
    }

    .close {
      position:absolute;
      background:url(close.png) 0 0 no-repeat;
      width:24px;
      height:27px;
      display:block;
      text-indent:-9999px;
      top:-7px;
      right:-7px;
    }
  }

  #clients{

    text-align: center;
    margin-bottom: 2em;

    h1{
      font-size: 24px;
      color: $default-color;
      text-transform: uppercase;
    }
    .container{
      width: 55%;
      margin-left: auto;
      margin-right: auto;
    }

    #carousel_container{
      #carousel_inner {
        float: left;
        width: 90%;
        overflow: hidden;
      }

      #carousel_ul {
        position:relative;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 9999px;
      }

      #carousel_ul li{
        float: left;
        width: 7.8vw;
        padding: 0px;
        height: 9vw;
        margin: 1vw;
      }

      #carousel_ul li.big img {
        margin-bottom: -4px;
        width: 100%;
        height: 80%;
        cursor: pointer;
        border: 0px;
      }

      #carousel_ul li.small img {
        position: relative;
        top: 40px;
        margin-bottom: -4px;
        width: 100%;
        cursor: pointer;
        border: 0px;
      }

      #carousel_ul li#jake_peavy img{
        top: 20px;
      }

      #carousel_ul li#street_sound img{
        height: 70%;
      }

      #carousel_ul li#hashrocket img{
        width: 80%;
        height: 70%;
      }

      #right_scroll{
        float: left;
        width: 15px;
        &:hover{
          cursor: pointer;
        }
      }

      #left_scroll{
        float: left;
        width: 15px;
        &:hover{
          cursor: pointer;
        }
      }

      #left_scroll img, #right_scroll img{
        position: relative;
        top: 40px;
        cursor: pointer;
        width: 100%;
      }
    }
  }

  #photos{
    h1{
      text-align: center;
    }

    ul{
      li{
        width: 24%;
        display: inline-block;

        h1{
          background-color: transparent;
          text-align: center;
          border-top: 1px solid $soft-gray-text;
          border-bottom: 1px solid $soft-gray-text;
          font-size: 2vw;
          span{
            opacity: 1;
          }
        }

        img{
          position: relative;
          width: 100%;
        }

        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  .footers-wrapper{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .footer-top{
    $base-spacing: 1.5em !default;
    $footer-background: lighten(#DFDFDF, 10%);

    background-color: $footer-background;
    display: inline-block;
    width: 100%;
    padding: 2.8vw 0;
    height: 6em;
    margin-top: 4em;
    color: $glyphicon-color;

    i{
      line-height: 1.5vw;
      font-size: 2vw;
    }

    .footer-wrapper{
      position: relative;
      top: 20px;
      width: 65%;
      margin-right: auto;
      margin-left: auto;
    }

    .text, a{
      color: $soft-gray-text;
      text-decoration: none;
    }

    .contact-info{
      text-align: center;
      display: inline-block;
      width: 32%;
    }
  }

  .footer-bottom{
    $base-spacing: 1.5em !default;
    $footer-background: #DFDFDF;

    background-color: $footer-background;
    display: inline-block;
    padding: $base-spacing;
    width: 100%;
    height: 3.5em;
    padding: 1.5vw 0;

    .footer-wrapper{
      margin: 1em 0 0 0;
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }

    ul {
      margin: 0 0 1em 0;
      padding: 0;
    }

    ul li {
      list-style: none;
      padding-right: 1em;
    }

    ul .text {
      color: $default-color;

      &:focus, &:hover {
        color: darken($default-color, 4%);
      }
    }

    .primary-link{
      display: inline;
      float: left;
      i{
        color: $default-color;
      }
      a{
        text-decoration: none;
      }
    }

    .footer-secondary-links {
      ul.footer-social {
        display: inline;
        float: right;
        a{
          float: left;
          margin-right: 0.3em;
          text-decoration: none;
          img{
            height: 2em;
            opacity: 0.4;
            filter: grayscale(100%);
            &:hover{
              filter: none;
              cursor: pointer;
              opacity: 1;
            }
          }
          li{
            color: #fff;
            margin: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;

            &:last-child {
              padding-right: 0;
            }
          }
        }

        img {
          height: 1.6em;
          opacity: 0.7;
          padding: 1px;

          &:focus, &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
