@font-face{
  font-family: 'Norwester';
  src: url('norwester.eot');
  src: url('norwester.eot?iefix') format('eot'),
       url('norwester.woff') format('woff'),
       url('norwester.ttf') format('truetype'),
       url('norwester.svg#webfont') format('svg');
}
