.loading-screen{
  height: 100%;
  width: 100%;
  .overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    filter: alpha(opacity=50);
  }

  .loading-content{
    z-index: 2;
    background: #fff;
    vertical-align: middle;
    margin-top: 12em;
    position: fixed;
    video{
      top: -18vw;
      position: relative;
      width: 100%;
    }

    @media only screen and (min-width: 769px) and (max-device-width: 1300px){
      video{
        top: 20vw;
      }
    }

    @media only screen and (max-device-width: 768px) {
      video{
        top: 35vw;
      }
    }
  }
}

