.background-image-1{
  background-image:  url('main_header_1.JPG');
  z-index: -3;
}
.background-image-2{
  background-image:  url('main_header_2.JPG');
  z-index: -3;
}
.background-image-3{
  background-image:  url('main_header_3.JPG');
  z-index: -3;
}
.background-image-4{
  background-image:  url('main_header_4.JPG');
  z-index: -3;
}
.background-image-5{
  background-image:  url('main_header_5.JPG');
  z-index: -3;
}
.background-image-6{
  background-image:  url('main_header_6.JPG');
  z-index: -3;
}
.background-image-7{
  background-image:  url('main_header_7.JPG');
  z-index: -3;
}
.background-image-8{
  background-image:  url('main_header_8.JPG');
  z-index: -3;
}
.photos{
  background:rgba(21,21,21,.8);

  img{
    display: none;
    width: 100%;
    max-height: 600px;
  }

  > img:first-of-type{
    display: block;
  }

}
