#recent_work{
  $default-font: arial;
  $default-font-size: 18px;
  $default-color: #297A8C;
  $background-color: #fff;
  $social-media-color: #C0C0C0;
  $social-media-hover: #288D8f;
  $glyphicon-color: #249880;
  $soft-gray-text: #737373;
  $link-color: #517a9e;
  $danger-color: #FA3434;
  $warning-color: #FF9308;
  $footer-background: lighten(#DFDFDF, 10%);
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: $footer-background;
  color: $default-color;
  width: 100%;
  margin: 0;

  h1{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  .top-row, .bottom-row{
    margin: 0;
  }

  .edit-video{
    margin: 0;
    border: 1px solid $warning-color;
    background-color: $warning-color;
    position: relative;
    top: 40px;
    left: 19px;
    width: 20%;
    text-align:center;
    z-index: 1;
    color: #fff;
    text-decoration: none;
  }

  .add-video{
    border: 1px solid darken($link-color, 15);
    background-color: $link-color;
    position: relative;
    top: 40px;
    padding: 1em;
    width: 5em;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;

    &:hover{
      background-color: darken($link-color, 15); 
    }
  }

  @media only screen and (max-device-width: 768px) {
    h1{
      font-size: 3em;
    }
  }
}

.video-container{
  @media only screen and (min-device-width: 769px){
    .desktop{
      display: block;
    }
    .video-click{
      padding: 0;
      margin: 0;
      list-style: none;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      justify-content: center;
    }

    .thumb-nail{
      width: 25%;
      height: 13.8vw;

      .text{
        margin: 0;
        font-size: 1.3vw;
        width: 80%;
        margin: 0;
        color: #fff;
        position: relative;
        top: -120px;
        left: 19px;
      }

      .fa{
        position: relative;
        top: -9.7vw;
        left: 11vw;
        font-size: 4.0em;
        padding: 0;
        margin: 0;
        color: #fff;
        opacity: 0;
      }

      img{
        width: 100%;
      }

      &:hover{
        cursor: pointer;
        img{
          filter: brightness(60%);
        }
        .fa{
          opacity: 1;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  @media only screen and (min-width: 769px) and (max-device-width: 1300px){
    .thumb-nail{
      margin: 0;
      padding: 0;
      width: 50%;
      height: 27.32vw;
      .text{
        margin-right: 0;
        color: #fff;
        font-size: 2.0em;
        position: relative;
        top: -2.2em;
        left: 0.5em;
        margin: 0;
        padding: 0;
      }
      img{
        width: 100%;
      }
    }
  }

  @media only screen and (max-device-width: 768px) {
    .thumb-nail{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 34.38em;

      .fa{
        display: none;
      }
      .text{
        color: #fff;
        width: 60%;
        font-size: 3.0em;
        position: relative;
        top: -1.9em;
        left: 0.5em;
        display: inline;
      }
      img{
        width: 100%;
      }
    }
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

