.modal-container.photo-modal
  .overlay
  .modal.photos
    %p.content= category.title
    - category.images.each do |image|
      = image_tag image.dropbox_url, id: image.id
    .pagination
      .previous
        %i.fa.fa-arrow-left
        Previous
      .next
        Next
        %i.fa.fa-arrow-right
