#photos
  %h1 Photos
  %ul
    - categories.each do |category|
      %li.category.modal-trigger{data: {category_id: category.id, url: category_path(category.id)}}
        %h1.title
          %span= category.title
        = image_tag 'hashrocket.jpg'
