#photos
  - if current_user.present?
    .category-form
      %h1 Add Category
      = render partial: 'form'
  %h1 Photos
  %ul.categories-container
    - categories.each do |category|
      %li.category.modal-trigger{data: {category_id: category.id, url: category_path(category.id)}}
        %h1.title= category.title
        = image_tag category.dropbox_url
