.loading-screen
  .overlay
  .loading-content
    = video_tag "loading_screen.mp4", autoplay: true, loop: true

    = video_tag 'https://www.dropbox.com/s/ok2x5rvuwknq53p/Wave%20for%20site%20opening.mp4?dl=0'
